.botaoFormulario {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  border-radius: 8px;
  background: #17d9b1;
  margin: 0 auto;
  color: #212121;
  font-weight: 600;
  line-height: 120%;
}

.botaoFormulario:hover {
  opacity: 0.8;
  cursor: pointer;
}
